header.for_your_pleasure {
    background:  url('../../../resources/bgs/for_your_pleasure_bg.jpg') center center / cover no-repeat;
    height: 260px;
}

.container {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}