header {
    background:  url('../../../resources/bgs/main_bg.jpg') center center / cover no-repeat;
    width: 100%;
    height: 640px;
    .header_h2 {
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Merienda';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        
        color: #FFFFFF;   
    }
    .header_h2.first {
        margin-top: 35px;
    }

    .header_btn {
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 30px;
        border: #FFFFFF 1px solid;
        border-radius: 2px;
        background-color: transparent;

        font-family: 'Merienda';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;    

        &:hover {
            cursor: pointer;
            width: 128px;
            height: 32px;
        }
    }
}

section.about_us {
    min-height: 520px;

    .about_us_h2 {
        margin-top: 80px;
        text-align: center;
        font-family: 'Merienda';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
        margin-bottom: 20px;
    }

    .about_us_p {
        width: 589px;
        margin: 0 auto;
        text-align: center;
        margin-top: 40px;
        font-family: 'Merienda';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;  
        margin-bottom: 101px;  
    }

}

section.our_best {
    background:  url('../../../resources/bgs/our_best.jpg') center center / cover no-repeat;
    min-height: 495px;
    .our_best_h2 {
        padding-top: 80px;
        text-align: center;
        font-family: 'Merienda';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        padding-bottom: 40px;
    }

    .card_list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 110px;
        
        &_item {
            background: rgba(255, 255, 255, 0.95);
            border-radius: 8px;
            width: 220px;
            height: 260px;
            filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
            cursor: pointer;
        }
    }
}

.container {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}