header.ourCoffeePage {
    max-height: 260px;
    background:  url('../../../resources/bgs/our_coffee_bg.jpg') center center / cover no-repeat;

}

section.about_our_beans {
    min-height: 1232px;
}

