
header.single_coffee_page {
    height: 260px;
    background:  url('../../../resources/bgs/our_coffee_bg.jpg') center center / cover no-repeat;
}

section.about_it {
    margin-top: 79px;
    min-height: 370px;
    display: flex;
    justify-content: center;

    .single_coffee_page_img {
        width: 392px;
        height: 355px;
        filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
        margin-right: 55px;
    }

    

    .wrap {
        display: flex;
        flex-direction: column;

        .descr_about_it {
            margin-top: 16px;
            max-width: 418px;
            font-family: 'Merienda';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;     
            color: #000000;

            span {
                font-weight: 700;
            }
        }

        .title {
            text-align: center;
            font-family: 'Merienda';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #000000;
            margin-bottom: 21px;
        }

        .country {
            font-family: 'Merienda';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
            margin-top: 25px;
            span {
                font-weight: 700;
            }
        }

        .price_about_it {
            margin-top: 16px;
            span.price {
                font-family: 'Merienda';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 35px;
                color: #000000;
                margin-left: 5px;
            }
            span.price_word {
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 1200px) {
    section.about_it {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .single_coffee_page_img {
            max-width: 392px;
            max-height: 355px;
            margin: 0;
        }

        .wrap {
            .descr_about_it {
                max-width: 418px;
                font-size: 18px;
                margin: 0 auto;

            }

            .title {
                text-align: center;
                margin-top: 35px;
            }
    
            .country {
                margin-bottom: 15px;
                text-align: center;
                font-size: 18px;
                
            }
    
            .price_about_it {
                margin-top: 16px;
                text-align: center;
                span.price {
                    font-size: 30px;
                }
                span.price_word {
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .single_coffee_page_img {
        max-width: 300px;
        max-height: 285px;
        margin: 0;
    }
}