.card_list {
    display: grid;
    grid-template-columns: repeat(3,220px);  /* 3 columns */
    grid-template-rows: repeat(2,260px); /* 3 rows  */
    grid-gap:50px 71px; 
    justify-content: center;
    margin-bottom: 35px;
    &_item {
        background: rgba(255, 255, 255, 0.95);
        border-radius: 8px;
        width: 220px;
        height: 260px;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
        cursor: pointer;
    }
}