.filters_wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto 61px auto;
    .looking_for_filter_wrap {
        display: flex;
        margin-right: 83px;

        .looking_for_text {
            margin-right: 20px;
        }

        .filter_input {
            width: 180px;
            height: 30px;
            background: #FFFFFF;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
            border-radius: 4px;   
            border: 0px; 
            text-align: center;
        }
    }

    .filter_btns_wrap {
        display: flex;

        .or_filter {
            margin-right: 35px;
        }

        .filter_btns_list {
            display: flex;

            .filter_item {
                margin-right: 5px;
                
                .filter_btn {
                    width: 75px;
                    height: 30px;
                    border: 0;
                    background: #FFFFFF;
                    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
                    border-radius: 4px;
                    cursor: pointer;
                }

                .active {
                    border: 2px solid rgb(228, 58, 58)
                }
            }
        }
    }

}

