.filters_wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto 61px auto;
    .looking_for_filter_wrap {
        display: flex;
        margin-right: 83px;

        .looking_for_text {
            margin-right: 20px;
        }

        .filter_input {
            max-width: 180px;
            max-height: 30px;
            background: #FFFFFF;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
            border-radius: 4px;   
            border: 0px; 
            text-align: center;
        }
    }

    .filter_btns_wrap {
        display: flex;

        .or_filter {
            margin-right: 35px;
        }

        .filter_btns_list {
            display: flex;

            .filter_item {
                margin-right: 5px;
                
                .filter_btn {
                    width: 75px;
                    height: 30px;
                    border: 0;
                    background: #FFFFFF;
                    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
                    border-radius: 4px;
                    cursor: pointer;
                }

                .active {
                    background: #201d1d;
                    color: white
                }
            }
        }
    }

}

@media (max-width: 800px) {
    .filters_wrap {
        
        flex-direction: column;

        .filter_btns_wrap {
            margin-top: 30px; 
        }

    }
}

@media (max-width: 800px) {
    .filters_wrap {
        align-items: center;
        justify-content: center;
        .looking_for_filter_wrap { 
            flex-direction: column;
            margin: 0 auto;
            .looking_for_text {
                text-align: center;
            }
            .filter_input {
                margin-top: 25px;
            }
        }

        .filter_btns_wrap {
            margin-top: 30px; 
            flex-direction: column;
            align-items: center;
            .or_filter {
                margin: 0 auto;
            }
            .filter_btns_list {
                flex-direction: column;
                
                .filter_item {
                    margin-top: 20px;
                }
            }
        }

    }
}

